.is-flex {
    display: flex;
}
.rmsure-inline {
    color: #14142B;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 12px;
    padding: 0;
}
.mt-3 {
    margin-top: 0.75rem !important;
}
.mt-6 {
    margin-top: 3rem !important;
}
.is-pulled-right {
    float: right !important;
}
.is-pulled-left {
    float: left !important;
}
.is-align-items-center {
    align-items: center !important;
}

.page-title-action {
    padding: 0 16px !important;
    font-size: 14px !important;
    color: #fff !important;
    font-weight: 700 !important;
    line-height: 34px !important;
    height: auto;
    background-color: #0347FF !important;
    border: 1px solid #0347FF !important;
    border-radius: 6px !important;
    &:hover{
        color: #0347FF !important;
        background-color: #fff !important;
    }
}

.user-role-editor-action-button {
    font-size: 14px;
    font-weight: 700;
    line-height: 36px !important;
    margin-right: 12px;
    margin-left: 0 !important;
    margin-bottom: 15px;
    padding: 0 16px !important;
    color: #0347FF !important;
    border: 1px solid #0347FF !important;
    border-radius: 6px !important;
    background-color: #fff !important;
    &:hover {
        color: #fff !important;
        background-color: #0347FF !important;
    }
    &.user-role-editor-button-danger {
        border-color: #ce0356!important;
        color: #ce0356 !important;

        &:hover {
            background: #ce0356 !important;
            color: #fff !important;
        }
    }
}

 input[type="checkbox"] {
     &::before {
         width: 18px !important;
         height: 18px !important;
     }
     &:checked{
        background-color: #0347ff !important;
        border-color: #0347ff !important;
        color: #fff !important;
        &::before{
            content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%233582c4%27%2F%3E%3C%2Fsvg%3E);
            background-color: transparent;
            webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
            margin: 0;
            margin-top: -2px;
            margin-left: -3px;
            position: inherit;
        }
     }
 }
